// Font-face
@font-face {
  font-family: 'aileron';
  src: url('../fonts/aileron/aileron-regular-webfont.woff2') format('woff2'),
  url('../fonts/aileron/aileron-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileron-light';
  src: url('../fonts/aileron/aileron-light-webfont.woff2') format('woff2'),
  url('../fonts/aileron/aileron-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Body
$body-bg: #f5f8fa;
$body-font: 'aileron-light';

// Borders

// Brands

// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
//$text-color: #636b6f;

// Navbar

// Buttons

// Inputs

// Panels

// Basic Colors
$color-white: #ffffff;
$color-blue: #5490d8;

// Various colors

// Spiner color and margin

// IBOX colors ( default panel colors)

//Sidebar width

// Boxed layout width

//Border radius for buttons

//Navigation